@tailwind base;
@tailwind components;
@tailwind utilities;

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}




/* For Webkit browsers (Chrome, Safari, Opera) */
.scroll-custom::-webkit-scrollbar {
  width: 4px; /* Change this value to make scrollbar thinner or thicker */
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #2D3748; /* Dark gray color */
  border-radius: 10px; /* Make scrollbar thumb rounded */
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

/* For Firefox */
.scroll-custom {
  scrollbar-width: thin;
  scrollbar-color: #2D3748 transparent;
}

